version: '2.1'
orbs:
  unity: game-ci/unity@0.2.0
  ruby: circleci/ruby@1.2.0

jobs:
  generate_ios_project:
    executor:
      editor_version: 2019.4.19f1
      name: unity/ubuntu
      resource_class: large
      target_platform: ios
    steps:
      - checkout
      - unity/prepare-env:
          unity-username-var-name: UNITY_USERNAME
          unity-password-var-name: UNITY_PASSWORD
          unity-serial-var-name: UNITY_SERIAL
      - unity/build:
          build-target: iOS
      - save_cache:
          key: ios-build-workspace
          paths:
            - builds/ios
  test_flight:
    macos:
      xcode: "13.4.1"
    steps:
      - restore_cache:
          keys: ios-build-workspace
      - ruby/install-deps
      - run:
          name: fastlane
          command: bundle exec fastlane beta

workflows:
  build_ios_and_upload_testflight:
    jobs:
      - generate_ios_project
      - test_flight
