version: '2.1'
orbs:
  unity: game-ci/unity@0.2.0
  ruby: circleci/ruby@1.2.0

jobs:
  - build:
      build-target: iOS
      context: unity-orb
      executor:
        editor_version: 2019.4.19f1
        name: unity/ubuntu
        resource_class: large
        target_platform: ios
      name: build-ios
      project-path: ./
      step-name: Build iOS
      unity-license-var-name: UNITY_ENCODED_LICENSE
  - save_cache:
      key: ios-build-workspace
      paths:
        - builds/ios
  - test-flight:
      name: test-flight
      macos:
        xcode: 13.4.1
      working_directory: ./
      steps:
        - restore_cache: null
          keys: ios-build-workspace
        - ruby/install-deps
        - run:
            name: fastlane
            command: bundle exec fastlane beta
workflows:
  build-ios:
    jobs:
      - checkout
      - build
      - test-flight
